<h1>Eat Da Burger</h1>
<br>

<div id='avail'>
    <h2>Burger Menu</h2>
    <ul>
        {{#each burgers}} {{#unless this.devoured}}
        <li>
            {{this.id}}. {{this.burger_name}}

            <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="false">
                <button class="btn btn-danger" type="submit">Eat Me!</button>
            </form>

        </li>
        {{/unless}} {{/each}}
    </ul>
</div>
<div id='devoured'>
    <h2>Devoured Burgers:</h2>

    <ul>
        {{#each burgers}} {{#if this.devoured}}
        <li>
            <form class="delete-form form-group" action="/{{this.id}}?_method=DELETE" method="POST">
                {{this.burger_name}}
                <input type="image" class="trash-icon" src="assets/img/trash.png" alt="trash icon" />
            </form>
        </li>
        {{/if}} {{/each}}
    </ul>
</div>

<div id='add'>
    <h2>Add a Burger: </h2>

    <form class="create-update-form" action="/" method="POST">
        <div class="form-group">
            <label for="dab">Burger Name:</label>
            <input type="text" id="dab" name="burger_name">
            <button class="btn btn-primary ml-1" type="submit">Add Burger</button>
        </div>
    </form>
</div>